
.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

*.iml

.idea/misc.xml

.idea/goLibraries.xml

.idea/libraries/GOPATH__wikilinktester_.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml
